@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: local('Vollkorn'), url('Vollkorn-Regular.ttf');
}

@mixin setBgColorAndHover($baseColor) {
	background-color: $baseColor;
	
	&:hover {
		background-color: darken($baseColor, 5%);
	}
}

body {
    font-family: 'Vollkorn', serif;
    background-color: black;
}

#filler {
	height: 20px;
}

#page {
	display: flex;
	justify-content: center;
}

#wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	border: 1px dotted black;
}

button {
	@include setBgColorAndHover(#699ce8);
}

user-overview {
	margin: 2px;

	display: flex;

	#userMeta {
		width: 30%;

		background-color: white;
		display: flex;
		flex-direction: column;

		border: 1px solid black;
		padding: 10px;
		margin: 2px;

		#knownWords {
			width: 20em;
			column-count: 3;
		}

		.block {
			display: flex;
		}

	}

	#blockInfo {
		width: 70%;

		background-color: white;
		display: flex;
		flex-direction: column;

		white-space: pre-wrap;
		text-align: justify;
		border: 1px solid black;
		padding: 10px;
		margin: 2px;
	
		.note {
			color: red;
		}

		.blocks {
			user-select: none;
			padding: 10px;
			font-family: monospace;
			border-bottom: 1px solid black;

			&:last-of-type {
				border-bottom: none;
			}

			display: flex;
			flex-direction: column;

			.blockText {
				.read {
					color: red;
				}
			}

			a {
				align-self: flex-end;
			}
		}
	}

}

study {
	#studyContainer {
		background-color: white;
		margin: 2px;
		padding: 10px;

		display: flex;
		flex-direction: column;
	}

	#dev {
		display: flex;
		flex-direction: column;

		div {
			border-bottom: 1px solid black;
		}
	}

	table {

		tr:last-of-type td {
			border-top: none;

			button {
				@include setBgColorAndHover(white);
				width: 100%;
			}

		}

		.no-top {
			border-top: none;			
		}

		.add {
			text-align: right;
			color: navy;

			&:hover {
				color: dodgerblue;
			}
		}

		.confirm {
			color: dodgerblue;

			&:hover {
				color: navy;
			}
		}

		.studied {
			color: black;
		}

		.guessed {
			font-style: italic;
			color: #ccc;
		}

		td {
			border-top: 1px solid black;

			span.bold {
				font-weight: bold;
			}
			span.italics {
				font-style: italic;
			}
		}
	}

	button {
		align-self: flex-end;
	}
}

dev-stats {
	border: 2px solid Maroon;
	padding: 10px;
	margin: 2px;

	.headerText {
		font-weight: 800;
	}

	.blocks {
		padding: 3px;
		padding-left: 10px;
		font-family: monospace;
	}

	.blockText {
		.read {
			color: red;
		}
	}

}