*, *:before, *:after {
	box-sizing: border-box;
}

@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: local('Vollkorn'), url('Vollkorn-Regular.ttf');
}

@mixin setBgColorAndHover($baseColor) {
	background-color: $baseColor;

	&:hover {
		background-color: darken($baseColor, 5%);
	}
}

@mixin setTextColorAndHover($baseColor) {
	color: $baseColor;

	&:hover {
		color: darken($baseColor, 20%);
	}
}

body {
    font-family: 'Vollkorn', serif;
    background-color: black;
}

#filler {
	height: 20px;
}

#page {
	display: flex;
	justify-content: center;
}

#wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	border: 1px dotted black;
}

button {
	@include setBgColorAndHover(#699ce8);
}

#select {
	margin: 2px;

	display: flex;

	#addBlock {
		align-self: flex-end;

		text-decoration: none;
		border: 2px solid;
		border-radius: 5px;
		padding: 5px 4px 4px;
		color: black;
	}

	#user-info {
		width: 30%;

		background-color: white;
		display: flex;
		flex-direction: column;

		border: 1px solid black;
		padding: 10px;
		margin: 2px;

		#knownWords, #jKnownWords {
			font-size: 12px;
			width: 100%;
			column-count: 4;
		}

		#knownWords {
			padding-top: 20px;
		}

		.block {
			display: flex;
		}

	}

	#block-info {
		width: 70%;

		background-color: white;
		display: flex;
		flex-direction: column;

		white-space: pre-wrap;
		text-align: justify;
		border: 1px solid black;
		padding: 10px;
		margin: 2px;

		.note {
			color: red;
		}

		.block {
			user-select: none;
			padding: 10px;
			font-family: monospace;
			border-bottom: 1px solid black;

			&:last-of-type {
				border-bottom: none;
			}

			display: flex;
			flex-direction: column;

			.block-text {
				.read {
					color: red;
				}
			}

			.percent {
				align-self: flex-end;
				text-align: right;
			}

			a {
				align-self: flex-end;
				padding: 5px;
			}
		}
	}

}

#study {
	#study-container {
		background-color: white;
		margin: 2px;
		padding: 10px;

		display: flex;
		flex-direction: column;
	}

	#dev {
		display: flex;
		flex-direction: column;

		div {
			border-bottom: 1px solid black;
		}
	}

	#reading {
		white-space: pre-wrap;
		text-align: justify;
		width: 40%;

		span {
			color: #ccc;
		}
	}

	table {

		tr:last-of-type td {
			border-top: none;

			button {
				@include setBgColorAndHover(white);
				width: 100%;
			}

		}

		.no-top {
			border-top: none;
		}

		.add {
			text-align: right;
			color: navy;

			&:hover {
				color: dodgerblue;
			}
		}

		.confirm {
			color: dodgerblue;

			&:hover {
				color: navy;
			}
		}

		.studied {
			color: black;
		}

		.guessed {
			font-style: italic;
			color: #ccc;
		}

		td {
			border-top: 1px solid black;

			span.bold {
				font-weight: bold;
			}
			span.italics {
				font-style: italic;
			}
		}
	}

	button {
		align-self: flex-end;
	}
}

jstudy {

	.definitionsWrapper {
		display: flex;
		flex-direction: column;

		.definitionContainer {
			display: flex;
			border-bottom: 1px solid #ddd;

			&:last-of-type {
				border-bottom: none;
			}

			.japaneseWrapper {
				display: flex;
				flex-direction: column;
				width: 80px;
				.furigana {
					font-size: 12px;
				}
			}
			.glossWrapper {
				display: flex;
				flex-direction: column;
				.gloss {}
			}
		}
	}
}

#add {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	#button-container {
		align-self: flex-end;

		display: flex;
		flex-direction: column;

		a {
			text-align: right;

			text-decoration: none;
			border: 2px solid;
			border-radius: 5px;
			padding: 5px 4px 4px;
			color: black;
			margin-bottom: 1em;
		}
	}

	#add-block-container {
		width: 50%;

		display: flex;
		flex-direction: column;

		textarea {
			margin-bottom: 1em;
			width: 100%;
			height: 90vh;
			border: 2px solid black;
			border-radius: 5px;
		}

	}
}