<!doctype html>
<html>

  <head>
    <title>Live Read</title>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  </head>

<body>
	<div id="page">
		<div id="wrapper"></div>
	</div>
	<script src="//unpkg.com/mithril/mithril.js"></script>
	<script src="{{ url_for('static', filename='mockData.js') }}"></script>
	<script src="{{ url_for('static', filename='views/Select.js') }}"></script>
	<script src="{{ url_for('static', filename='views/Add.js') }}"></script>
	<script src="{{ url_for('static', filename='views/Study.js') }}"></script>
	<script src="{{ url_for('static', filename='views/Review.js') }}"></script>
	<script src="{{ url_for('static', filename='views/Read.js') }}"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>