<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/mocha.css') }}"/>
  </head>
  <body>
    <div id="mocha"></div>
    <div id="messages"></div>
    <div id="fixtures"></div>
    <script src="{{ url_for('static', filename='vendor/mithril.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/mocha.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chai.js') }}"></script>
    <script>
      const expect = chai.expect;
      const assert = chai.assert;
      mocha.setup({
        ui: 'bdd',
        ignoreLeaks: true
      });
      onload = function () {
        mocha.run();
      };
    </script>
    <script src="{{ url_for('static', filename='utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='User.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script src="{{ url_for('static', filename='tests/test_utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='tests/test_main.js') }}"></script>
  </body>
</html>