<div>Blocks:</div>
<div ng-repeat="Block in userdata.Blocks" class="blocks">
	<div class="headerText">[[ getBlockIndex(Block) + 1 ]]) [[ Block.text.slice(0, 50) ]]...</div>
	<div class="blockText">
		<span ng-init="read=Block.readTokens[$index]" ng-class="{'read': read}" ng-repeat="Token in Block.tokens track by $index">[[ Token.tokenText ]] </span>
	</div>
</div>
<em>Current User Summary:</em>
<div>Username: [[ userdata.username ]]</div>
<div>Known words: [[ userdata.known.sort().join(', ') ]]</div>
<div>Threshold: [[ userdata.threshold ]]</div>