<table>
	<thead>
		<tr>
			<th ng-show="guessingPhase"></th>
			<th></th>
			<th>Word</th>
			<th>Guess Meaning</th>
			<th ng-show="definitionsPhase">Defintions</th>
			<th ng-show="definitionsPhase"></th>
		</tr>
	</thead>
	<tbody>
		<tr class="lemma" ng-repeat="obj in newJapaneseWords track by $index + obj.lemma" ng-init="studied=false">
			<td ng-show="guessingPhase" class="add no-top" ng-click="addKnownLemma(true, obj.lemma)">◎</td>
			<td class="no-top">[[ $index + 1 ]]</td>
			<td class="lemma">[[ obj.lemma ]]</td>
			<td class="guess"><input ng-model="guess" type="text"></td>
			<td class="definition" ng-show="definitionsPhase">
				<div class="definitionsWrapper">
					<div class="definitionContainer" ng-repeat="definition in obj.definitions">
						<div class="japanese">[[ definition.japanese ]]</div>
						<div class="glossWrapper">
							<div class="gloss" ng-repeat="gloss in definition.glosses">[[ gloss ]]</div>
						</div>
					</div>
				</div>
			</td>
			<td ng-class="{'confirm': true, 'no-top': true, 'studied': studied}" ng-show="definitionsPhase" ng-click="studied = true">◉</td>
		</tr>				
		<tr class="final-row">
			<td ng-show="guessingPhase"></td>
			<td></td>
			<td></td>
			<td ng-hide="definitionsPhase"><button ng-click="doneGuessing()">Done guessing!</button></td>
			<td ng-show="definitionsPhase" ng-click="doneStudying()"><button>Done studying, read!</button></td>
			<td ng-show="definitionsPhase"></td>
		</tr>
	</tbody>
</table>