<user-overview>
	<div id="userMeta">
		<h3>Username: [[ userdata.username ]]</h3>
		<p title="These are the words that you have marked as definitely known while reading texts.">Known words:<br>Polish: [[ filterWordsByLanguage(userdata.known, 'pl').length ]]<br>Japanese: [[ filterWordsByLanguage(userdata.known, 'ja').length ]]
			<div id="knownWords">
				<div ng-repeat="word in filterWordsByLanguage(userdata.known, 'pl').sort()">[[ word ]]</div>
			</div>
			<div id="knownWords">
				<div ng-repeat="word in filterWordsByLanguage(userdata.known, 'ja').sort()">[[ word ]]</div>
			</div>
		</p>
		<p title="After this numer of encounters of a given word, it will no longer appear in your vocab lists.">Threshold: [[ userdata.threshold ]]</p>
	</div>
	<div id="blockInfo">
		<div>The current texts you have are: <span class="note">(click to expand, read sections marked in red)</span></div>
		<a id="addBlock" href="/#/main/add">Add a new text.</a>
		<div ng-init="expanded=false" ng-repeat="Block in userdata.blocks" class="blocks">
			<p class="percent">[[ getReadPercentage(Block) ]]% read<br>([[ getReadRatio(Block) ]] sentences)<p>
			<div ng-hide="expanded" ng-click="expanded=!expanded" class="headerText">[[ getBlockIndex(Block) + 1 ]]) [[ Block.text.slice(0, 50)]]...</div>
			<div ng-show="expanded" ng-click="expanded=!expanded" class="blockText">[[ getBlockIndex(Block) + 1 ]]) [[ Block.text ]]</div>
			<a ng-click="setCurrentBlock(Block)" href="/#/main/study">Read This Text</a>
			<a ng-click="safeDeleteBlock(Block.text)" href="/#/main/select">Delete This Text</a>
		</div>
	</div>
</user-overview>