<study>
	<div id="studyContainer">
		<a href="#/main/select">Back to user page...</a>
		<div ng-show="currentBlock === null">Please choose a text to study from your user page...</div>
		<table ng-hide="currentBlock === null" id="vocabItems">
			<thead>
				<tr>
					<th></th>
					<th>Word</th>
					<th>Defintions</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="lemma" ng-repeat="obj in newWords track by $index + obj.lemma" ng-init="studied=false">
					<td class="add no-top" ng-click="addKnownLemma(false, obj.lemma)">◎</td>
					<td class="lemma">[[ obj.lemma ]]</td>
					<td class="definition" ng-bind-html="obj.definition"></td>
					<td ng-class="{'confirm': true, 'no-top': true, 'studied': studied}" ng-click="studied = true">◉</td>
				</tr>
			</tbody>
		</table>
		<a href="/#/main/read">Done studying, let me read the section!</a>
	</div>
</study>