<study>
	<div id="studyContainer">
		<a href="#/main/select">Back to user page...</a>
		<div ng-show="currentBlock === null">Please choose a text to study from your user page...</div>
		<jstudy ng-controller="japaneseCtrl" ng-hide="currentBlock === null || readingPhase || currentBlock.type === 'Block'"></jstudy>
		<table ng-hide="currentBlock === null || readingPhase || currentBlock.type === 'jBlock'" id="vocabItems">
			<thead>
				<tr>
					<th ng-show="guessingPhase"></th>
					<th></th>
					<th>Word</th>
					<th>Guess Meaning</th>
<!--					<th ng-show="definitionsPhase">Guess Meaning</th>
-->					<th ng-show="definitionsPhase">Defintions</th>
					<th ng-show="definitionsPhase"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="lemma" ng-repeat="obj in newWords track by $index + obj.lemma" ng-init="studied=false">
					<td ng-show="guessingPhase" class="add no-top" ng-click="addKnownLemma(obj.lemma)">◎</td>
					<td class="no-top">[[ $index + 1 ]]</td>
					<td class="lemma">[[ obj.lemma ]]</td>
					<td class="guess"><input ng-model="guess" type="text"></td>
<!--					<td class="guessed" ng-show="definitionsPhase">[[ guess ]]</td>
-->					<td class="definition" ng-show="definitionsPhase" ng-bind-html="obj.definition"></td>
					<td ng-class="{'confirm': true, 'no-top': true, 'studied': studied}" ng-show="definitionsPhase" ng-click="studied = true">◉</td>
				</tr>				
				<tr class="final-row">
					<td ng-show="guessingPhase"></td>
					<td></td>
					<td></td>
					<td ng-hide="definitionsPhase"><button ng-click="doneGuessing()">Done guessing!</button></td>
<!--					<td ng-show="definitionsPhase"></td>
-->					<td ng-show="definitionsPhase" ng-click="doneStudying()"><button>Done studying, read!</button></td>
					<td ng-show="definitionsPhase"></td>
				</tr>
			</tbody>
		</table>
		<div id="reading" ng-show="readingPhase"><span>...[[ previousSection ]]</span> [[ currentlyReadingSection ]] <span>[[ nextSection ]]...</span></div>
		<!--FIGURE OUT HOW TO GET DONEREADING CALLBACK WORKING-->
		<button ng-show="readingPhase" ng-click="doneReading()">Read. Read next section.</button>
	</div>
</study>