<study>
	<div id="studyContainer">
	<!--
		<div id="dev">
			<div>[[ currentBlock.text ]]</div>
			<div>[[ currentBlock.readTokens ]]</div>
			<div>[[ currentlyReadingSection ]]</div>
		</div>
	-->
		<button ng-click="stopReading()">Choose a different block instead...</button>
		<table ng-hide="readingPhase" id="vocabItems">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Word</th>
					<th ng-hide="definitionsPhase">Guess Meaning</th>
					<th ng-show="definitionsPhase">Guess Meaning</th>
					<th ng-show="definitionsPhase">Defintions</th>
					<th ng-show="definitionsPhase"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="lemma" ng-repeat="obj in newWords track by $index" ng-init="studied=false">
					<td class="add no-top" ng-click="addKnownLemma(obj.lemma)">◎</td>
					<td class="no-top">[[ $index + 1 ]]</td>
					<td class="lemma">[[ obj.lemma ]]</td>
					<td class="guess" ng-hide="definitionsPhase"><input ng-model="guess" type="text"></td>
					<td class="guessed" ng-show="definitionsPhase">[[ guess ]]</td>
					<td class="definition" ng-show="definitionsPhase" ng-bind-html="obj.definition"></td>
					<td ng-class="{'confirm': true, 'no-top': true, 'studied': studied}" ng-show="definitionsPhase" ng-click="studied = true">◉</td>
				</tr>				
				<tr class="final-row">
					<td></td>
					<td></td>
					<td></td>
					<td ng-hide="definitionsPhase"><button ng-click="doneGuessing()">Done guessing!</button></td>
					<td ng-show="definitionsPhase"></td>
					<td ng-show="definitionsPhase" ng-click="doneStudying()"><button>Done studying, read!</button></td>
					<td ng-show="definitionsPhase"></td>
				</tr>
			</tbody>
		</table>
		<div>[[ renderPreviousSection() ]]</div>
		<div id="reading">[[ currentlyReadingSection ]]</div>
		<button ng-click="doneReading()">Read. Read next section.</button>
	</div>
</study>