<div ng-controller="studyCtrl" id="studyContainer">
	<div id="dev">
		<div>[[ currentBlock.text ]]</div>
		<div>[[ currentBlock.lemmaList ]]</div>
		<div>[[ currentBlock.bestLemmaList ]]</div>
		<div>[[ currentBlock.readTokens ]]</div>
	</div>
	<table id="vocabItems">
		<thead>
			<tr>
				<th></th>
				<th>Word</th>
				<th>Guess Meaning</th>
			</tr>
		</thead>
		<tbody>
			<tr class="lemma" ng-repeat="lemma in currentBlock.bestLemmaList.slice(0, 10) track by $index">
				<td class="add" ng-click="ServerService.addKnownLemma(lemma)">◎</td>
				<td class="lemma">[[ lemma ]]</td>
				<td class="guess"><input type="text"></td>
			</tr>				
		</tbody>
	</table>
</div>
<button ng-click="stopReading()">Choose a different block instead...</button>
